{% extends "base.html" %}
{% block content %}
<div class="col-lg-4">
  <img src="{{ url_for('raw_stream', id=id, random=random) }}" style="max-width:100%;">
</div>
<div class="col-lg-8">
  <label for="green">Green</label>
  <input id="green" type="range" max="255">
</div>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
  	<p>Hue</p>
    <div class="slider-range" id="hue" style="height:250px;"></div>
  </div>
  <div class="col-md-2">
  	<p>Saturation</p>
    <div class="slider-range" id="sat" style="height:250px;"></div>
  </div>
  <div class="col-md-2">
  	<p>Value</p>
    <div class="slider-range" id="val" style="height:250px;"></div>
  </div>
</div>
{% endblock %}
