{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="col-lg-4 col-md-4">
  <img id="stream-target" data-ns="{{id}}"/>
</div>
<div class="col-lg-8 col-md-8">
  <label for="green">Green</label>
  <input id="green" type="range" max="255">
</div>
</div>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <p>
      Hue:<span id="huerange"style="color:#0000ff;"></span>
    </p>
    <div class="slider-range" id="hue" style="width:100%;"></div>
  </div>
  <div class="col-md-2">
    <p>
      Saturation:<span id="satrange"style="color:#0000ff;"></span>
    </p>
    <div class="slider-range" id="sat" style="width:100%;"></div>
  </div>
  <div class="col-md-2">
    <p>
      Value:<span id="valrange"style="color:#0000ff;"></span>
    </p>
    <div class="slider-range" id="val" style="width:100%;"></div>
  </div>
</div>
<script src="/static/socket.io.min.js"></script>
<script src="/static/stream.js"></script>
{% endblock %}
